<html>
  <head>
    <link rel="stylesheet" href="/sassy.css">
    <script src="/jquery.js"></script>
    <script src="https://kit.fontawesome.com/503b395450.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a id="navicon" class="fa fa-bars"></a>
      <img src="../images/logo.png">
    </header>
    <nav>
      <a href="/dashboard.html"><span class="fa fa-trophy"></span>Dashboard</a>
      <a href="/participation.php"><span class="fa fa-baseball-ball"></span>Earn Points</a>
      <a href="/schedule.html"><span class="fa fa-calendar"></span>Game Schedule</a>
      <a href="/roster.html"><span class="fa fa-user"></span>Team Roster</a>
    </nav>
    <script src="/scripts.js"></script>
  </body>
</html>
